@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --css-interop-darkMode: class dark;
  color-scheme: dark;
}

html,
body,
#root {
  background-color: #0B0B0E;
  color: #f4f4f6;
}
